@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: powderblue;
    background-size: cover;
}
 
.container {
    padding: 1cm;
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
}

.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid black;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid black;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.remember {
    border-bottom: 1px solid black;
}

.btn {
    width: 100%;
    background: none;
    border: 2px solid black;
    color: black;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
.btn a{
    text-decoration: none;
    color: black;

}

#kesalahan {
    text-align: center;
    font-size: 20px;
}